@tailwind base;
@tailwind components;
@tailwind utilities;


html,body{
    font-family: "Noto Sans Lao", sans-serif;
}

/* Card Product Component */
.card-product{
    font-family: 'Roboto',sans-serif;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  @media print {
    .no-print {
      display: none;
    }
  }